@import "src/styles";

.media-player {
  background-color: $color-light-1;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  height: 85px;
  box-shadow: 0 0 10px 1px $color-dark-1;
}

.media-player .media-player--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}

.media-player .media-player--wrapper .player-center {
  display: flex;
  align-content: center;
  align-items: center;
}

.media-player--wrapper .artist {
  width: 25%;
  padding: 0 .5rem;
}

.media-player--wrapper .player-audio {
  width: 25%;
  padding: 0 .5rem;
}

.media-player--wrapper .player-controls {
  width: 50%;
  padding: 0 .5rem;
  position: relative;
}

.media-player--wrapper .artist .artist-inside {
  display: flex;
  gap: .5rem
}

.media-player--wrapper .artist .track-like {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 .25rem;
}

.media-player--wrapper .artist .track-like .btn-like {
  border: 0;
  background-color: transparent;
  color: $color-dark-1;
  font-size: $font-size-2;
  opacity: .7;
}

.media-player--wrapper .artist .artist-inside .track-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.media-player--wrapper .artist .artist-inside .track-title {
  margin: 0;
  font-weight: 400;
  font-size: .8rem;
}

.media-player--wrapper .artist .artist-inside .sub-title {
  margin: 0;
  font-weight: 300;
  font-size: 80%;
  opacity: .6;
}

.media-player--wrapper .artist .artist-inside .cover {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 10px;
}

.media-player--wrapper .player-controls-inside {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.media-player--wrapper .player-controls-inside .buttons-media {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: .5rem
}

.media-player--wrapper .player-controls-inside .buttons-media .btn:nth-child(odd) {
  background-color: transparent;
  border: 0;
  color: $color-dark-1;
  opacity: .7;
  font-size: 1.65rem
}

.media-player--wrapper .player-controls-inside .buttons-media .play {
  font-size: 2.35rem;
}
.play.btn {
  background-color: transparent;
  border-radius: 100px;
  border: 0;
  color: $color-dark-2;
  cursor: pointer;
  opacity: .5;
}

.media-player--wrapper .player-controls-inside .media-linetime {
  display: flex;
  justify-content: space-between;
  font-size: 70%;
  padding: 0;
}

.media-player--wrapper .player-controls-inside .media-linetime .time {
  padding: .5rem 0;
}

.media-player--wrapper .player-controls-inside .media-linetime .time-progress {
  background-color: $color-dark-1;
  height: 3px;
  width: 100%;
  left: 0;
  position: absolute;
  cursor: pointer;
}

.media-player--wrapper .player-controls-inside .media-linetime .time-progress-live {
  background-color: $color-primary;
  width: 0;
  height: 3px;
  transition: all ease $animation-1;
  position: absolute;
}

.media-player--wrapper .player-audio-inside {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.media-player--wrapper .player-audio-inside .btn-media {
  background-color: transparent;
  border: 0;
  color: $color-dark-2;
  font-size: $font-size-2;
}

